body {
    margin: 0;
}


.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: rgb(49, 196, 147);
}

.image-container {
    background-color: #ffffff;
    padding: 1em;
    width: 60vw;
    height: 60vh;
}

img {
    width: 60vw;
    height: 60vh;
    position: absolute;
}

.heading {
    text-align: center;
}

i {
    padding: 16px;
}
